# Ignorar modificações na submodule
resources/ox_lib

# Ignorar arquivos na pasta default/data
default/*

# Ignorar arquivos específicos de logs
default/logs/*.history

QBcoreFramework_4EAF11.base/resources/ox_lib
default/data/PlayersDB.json
